@import "../../../css/theme";

.dialogTitle {
  padding: 24px 24px 5px 27px !important;
}

.backgroundColorGreen {
  background-color: $seafoam_blue !important;
}

.backgroundColorPurple {
  background-color: $dark_orchid !important;
}

.backgroundColorGrey {
  background-color: $grey !important;
}

.closeButton {
  //   width: 100%;
  font-size: x-small !important;
  color: $white !important;
  margin: -43px -11px 0px 0px !important;
  padding-top: 14px !important;
}

.otherLabel {
  //   width: 100%;
  font-size: medium !important;
  color: $white !important;
  text-transform: none !important;
}

.paper {
  border-radius: 14px !important;
  width: 500px !important;
}
