@import "../../../css/theme";

.container {
  height: 40px;
  width: $side-nav-width;
  flex-direction: column;
  position: relative;
  user-select: none;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.containerWithIcon {
  align-items: center;
  height: $side-nav-width;
  border-top: 0px;
  border-bottom: 0px;
}
.selected {
  background-color: $dark_lavender;
  * {
    color: $white !important;
  }
}
.selectedWithIcon {
  background-color: $seafoam_blue;
  * {
    color: $white !important;
  }
}
.label {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 8px;
  min-width: 40px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: $black;
  cursor: pointer;
}
.labelWithIcon {
  height: 14px;
}
.icon {
  margin-bottom: 10px;
}
