@import "../../../css/theme";

.textField {
  margin-left: 20px !important;
  width: 28px;
}

.slider {
  margin-top: 14px;
}

.container {
  max-width: 290px;
}
:export {
  dark_lavender: $dark_lavender;
}
