@import "../../../css/theme";
.dialogContent {
  background-color: $whitesmoke !important;
  padding-top: 25px !important;
  padding-bottom: 1px !important;
  max-height: 400px !important;
  overflow-y: auto !important;
}

.button {
  margin-top: 16px;
  margin-left: 172px;
  margin-bottom: 12px;
}
