.header {
  height: 140px;
  min-width: 675px !important;
}
.container {
  flex-shrink: 0;
  min-width: 675px;
  transform: translate(0, -50px);
}
.patientCard {
  width: calc(100vw - 180px);
}
.col {
  margin-right: 40px;
  margin-bottom: 40px;
  flex-grow: 1;
  flex-basis: 40px;
}
.row {
  overflow-x: hidden;
  padding-left: 40px;
  justify-content: space-between;
}
.firstRow {
  @extend .row;
  min-height: 320px;
}
