@import "../../../css/theme";

.avatar {
  background-color: $seafoam_blue_dark !important;
}

.paper {
  border-radius: 0px !important;
  height: 64px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  direction: ltr;
  display: flex;
}

.icon {
  color: $black_26;
  align-self: center;
  margin-left: auto;
}

.searchIcon {
  @extend .icon;
  margin-right: 20px;
}

.popper {
  transform: translate3d(0px, 36px, 0px) !important;
  width: 100%;
}
