.normal {
  width: 100px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden;
  border-right: unset !important;
}
.normal::-webkit-scrollbar {
  display: none;
}
