@import "../../../css/theme";

%colorPurple {
  color: rgb(118, 87, 160);
}

.card {
  display: flex;
  flex-direction: row;
  height: 280px;
  min-height: 280px;
  min-width: 600px;
  overflow: hidden;
}

.media {
  height: 100%;
  width: 180px;
}

.rightSection {
  padding: 16px !important;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(200, 198, 197, 0.6);
  margin-left: auto;
  width: 180px;
  align-content: center;
}

.gridContainer {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ancComplaintsRow {
  border-top: 1px solid rgba(200, 198, 197, 0.6);
  border-bottom: 1px solid rgba(200, 198, 197, 0.6);
  > * {
    padding-top: 14px;
  }
}

.complaintsColumn {
  padding-left: 20px;
  border-left: 1px solid rgba(200, 198, 197, 0.6);
}

.nameWeekRow {
  align-items: baseline;
}

.colorPurple {
  @extend %colorPurple;
}

.task {
  font-weight: bold;
  margin-right: 4px;
  margin-left: 4px;
}

.weekBox {
  margin-left: 10px;
  min-width: 25px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  background-color: rgba(231, 231, 231, 0.7);
  color: #7a7a7a;
  display: inline-block;
  @extend %roboto;
  font-weight: bold;
}

.riskChip {
  margin: 2px !important;
  height: 24px !important;
  background-color: #e43a52 !important;
  color: $white !important;
}

.complaintChip {
  margin: 2px !important;
  height: 24px !important;
  background-color: rgb(118, 87, 160) !important;
  color: $white !important;
}
.taskRow {
  @extend %colorPurple;
  line-height: 24px;
  margin-top: 16px;
}
