@import "../../../css/theme";

.normal {
  background-color: $dark_lavender !important;
  color: $white !important;
}

.button {
  height: 40px !important;
  background-color: $hex_grey !important;
}

.buttonBackground {
  background-color: $violet !important;
}

.buttonBackgroundColorPrimarySelected {
  background-color: $hex_dark_violet !important;
}

.label {
  color: $hex_black !important;
  text-transform: capitalize !important;
  font-weight: Bold !important;
}

.labelColor {
  color: $white !important;
}

.labelColorPrimarySelected {
  color: $grey !important;
}
