.svgIcon {
  font-size: 16px !important;
}

.plusIcon {
  font-size: 52px !important;
}

.crossIcon {
  font-size: 52px !important;
}

.noteIcon {
  font-size: 100px !important;
}

.clockIcon {
  font-size: 35px !important;
}
