@import "../../../css/theme";



.label {
  height: 20px;
  font-size: 14px;
  color: #a4a4a4;
  font-weight: normal;
  margin: 0;
  padding: 1px;
  line-height: 20px;
}

.container{
  flex: auto;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.left {
    
    margin: 0;
    width: 25%;
    background-color: $watermelon;
    color: $white;
    float: left;
    padding: 20px;
    font-size: 20px;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    display:flex;
  
}

.right {
    float: right;
    width: 75%;
}
