@import "../../../css/theme";

.header {
  // width: calc(100vw - 100px) !important;
  background: linear-gradient(
    90deg,
    $dark_lavender,
    $light_blue,
    $seafoam_blue
  );
  color: $white;
  height: 100px;
  white-space: nowrap;
}

.title {
  margin-top: 32px !important;
  margin-left: 11px !important;
}

.toolbar {
  height: 86px;
}

.buttons {
  margin-left: auto;
  margin-right: 18px;
  align-self: flex-end;
  display: flex;
  align-content: flex-end;
  > div,
  span {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    margin-right: 14px;
  }
}
