@import "../../../css/theme";

.sectionToggle {
  position: absolute;
  top: auto;
  right: auto;
  @extend %roboto;
  font-size: 12px;
  color: #bababa;
  border: solid 1px $light_grey;
  border-radius: $tile-border-radius;
  background-color: $white;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;

  .sliderLabel {
    display: inline-block;
    width: 55px;
    height: 35px;
    line-height: 35px;
    position: relative;
    z-index: 2;
    text-align: center;
    transition: all 200ms linear;
  }

  .toggleCheckboxSlider {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    width: 55px;
    transition: all 200ms linear;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.27);
    z-index: 1;
    border-radius: $tile-border-radius;
    background-color: #f5f5f5;
  }

  input {
    display: none;

    & + .slider {
      .no {
        color: $text_color_7;
      }
    }

    &:checked {
      & + .slider {
        .no {
          color: #bababa;
        }

        .yes {
          color: $white;
        }

        .toggleCheckboxSlider {
          left: 59px;
          background-color: $dark_lavender;
        }
      }
    }
  }
}
