.clientIcon {
  height: 75px;
  width: 75px;
  margin-top: auto;
  margin-bottom: 12px;
  align-self: center;
}

.icon {
  max-width: 75px;
  max-height: 28px;
  flex-shrink: initial;
}

.navLink {
  text-decoration: none;
}
